html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f1f1
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.grid-container{
  width: 100%;
  height: 100%;
  text-align:center;
}
.item {
  width: 95%;
  height: 100%;
  margin: 8px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}

.item-image{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
  
.item-image img{
  width: 380px;
  height: auto;
  object-fit: contain;
}
